html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

header {
    background-color: #1A237E;
    color: #FFF8E1;
    padding: 5px;
    display: flex;
}

.onboarding-display {
    width: 80%;
}

.onboarding-links {
    width: 20%;
}

.header-text {
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
}

.display-text {
    margin: 0;
}

.display-icon {
    font-size: 30px;
}

.nav-list {
    font-family: 'Open Sans', sans-serif;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;
    margin: 0;
    padding: 0
}

.onboarding-nav-item {
    height: 100%;
    width: 50%;
    display: flex;
    text-align: center;
}

.nav-link {
    color: #FFF8E1;
    text-decoration-line: none;
    cursor: pointer;
}

.nav-item {
    padding-top: 15px;
    width: 100%;
}

main {
    height: 100%;
}

.bg-img {
    background-image: url('../images/background.jpg');
    background-size: cover;
    height: 100%;
}

.overlay {
    height: 100%;
    background-color: rgba(0,0,0,0.6);
}

.onboarding-container {
    font-family: 'Open Sans', sans-serif;
    padding: 100px 20%;
    color: #FFF8E1;
}

@media only screen and (max-width: 760px) {
    .onboarding-display {
        width: 60%;
    }

    .onboarding-links {
        width: 40%;
    }
}

@media only screen and (max-width: 300px) {
    .onboarding-display {
        width: 50%;
    }

    .onboarding-links {
        width: 50%;
    }
}