
body {
    margin: 0;
    height: 100%;
}

header {
    background-color: #1A237E;
    color: #FFF8E1;
    padding: 5px;
    display: flex;
}

.onboarding-display {
    width: 80%;
}

.onboarding-links {
    width: 20%;
}

.header-text {
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
}

.display-text {
    margin: 0;
}

.display-icon {
    font-size: 30px;
}

.nav-list {
    font-family: 'Open Sans', sans-serif;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;
    margin: 0;
    padding: 0
}

.onboarding-nav-item {
    height: 100%;
    width: 50%;
    display: flex;
    text-align: center;
}

.nav-link {
    color: #FFF8E1;
    text-decoration-line: none;
    cursor: pointer;
}

.nav-item {
    padding-top: 15px;
    width: 100%;
}

main {
    height: 100%;
}

.bg-img {
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

.overlay {
    height: 100%;
    background-color: rgba(0,0,0,0.6);
}

.onboarding-container {
    font-family: 'Open Sans', sans-serif;
    padding: 100px 20%;
    color: #FFF8E1;
}

.form-container {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
}

.card {
    width: 40%;
    border-radius: 5px;
}

form {
    background-color: rgba(159, 168, 218, 0.5);
    padding: 10px;
}

.form-header {
    color: #1A237E;
    padding: 10px;
    text-align: center;
}

.form-unit {
    display: flex;
    flex-direction: row;
    padding: 10px 5px;
    justify-content: center;
}

label {
    font-weight: bold;
    width: 30%;
}

input {
    border: 1px solid rgba(159, 168, 218, 0.5);
    border-radius: 5px;
    height: 30px;
    width: 70%;
}

textarea {
    border: 1px solid rgba(159, 168, 218, 0.5);
    border-radius: 5px;
    height: 40px;
    width: 70%;
}

.form-button {
    height: 40px;
    width: 100%;
    border: 1px solid #1A237E;
    border-radius: 20px;
    background-color: #1A237E;
    color: #FFF8E1;
    cursor: pointer;
}

#admin-login-btn {
    background-color: rgba(159, 168, 218, 0.5);
    color: #1A237E;
}

.form-btn-link {
    width: 40%;
    margin: 5px;
}

@media only screen and (max-height: 675px) {
    .short-html {
        height: 100%;
    }
}

@media only screen and (min-height: 730px) {
    html {
        height: 100%;
    }
}

@media only screen and (max-width: 900px) {
    .card {
        width: 60%;
    }
}

@media only screen and (max-width: 760px) {
    .onboarding-display {
        width: 60%;
    }

    .onboarding-links {
        width: 40%;
    }

    .form-unit {
        flex-direction: column;
    }

    .form-btn-link {
        align-self: center;
        width: 60%;
    }

    .label, input, textarea {
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    .form-btn-link {
        width: 80%;
    }

    .card {
        width: 80%;
    }
}

@media only screen and (max-width: 300px) {
    .onboarding-display {
        width: 50%;
    }

    .onboarding-links {
        width: 50%;
    }

    .card {
        width: 90%;
    }

    .form-btn-link {
        width: 100%;
    }
}